.figure-number {
  display: none;
}

blockquote p:last-of-type a, blockquote p:last-of-type {
    font-size: 0.9em;
    text-align: right;
}
blockquote p:last-of-type a, blockquote p:last-of-type::before {
    content: "\2014 ";
}

mark {
background: rgba(255, 255, 0, 0.3);
}

.image-right {
  float: right;
  margin: 10px 10px 10px 10px;
}