article p { line-height: 1.5;}


.prose :where(blockquote p:last-of-type):not(:where([class~=not-prose] *))::after {
    content: '';
}

.prose :where(blockquote p):not(:where([class~=not-prose] *))::before {
    content: '';
}

.prose :where(blockquote p:last-of-type):not(:where([class~=not-prose] *)) {
    text-align: right;
    margin-right: 20px;
    font-size: 0.9em;
}

.prose :where(blockquote p:last-of-type):not(:where([class~=not-prose] *))::before {
    content: '\2014 ';
}



.journal-more {text-align: center;}
.journal-more a {
  font-weight: bold;
}

div.footnotes {
  font-size: 0.9em;
}



.sideImage {
  float: right;
  padding-left: 25px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 15px;
}

.sideImage figure {
  margin-top: 0px;
  margin-bottom: 0px;
}

.latest-journals h1 {
  font-size: 1.25em;
}