

{{ if .Site.Params.homepage.showRecent | default false }}
<div class="journal-header text-neutral-500 mt-8 text-xl font-extrabold">Latest journal</div>
  {{ $journal := ($.Site.GetPage "section" "journal").Pages.ByPublishDate.Reverse}}
  {{ range first 1 $journal }}
    {{ partial "journal-link.html" . }}
  {{ end }}
  <div class="journal-more"><a href="/journal/" class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral">Recent journal entries &#187;</a></div>
{{ end }}
