{{ if and .Site.Params.permanentTopNav .Site.Params.stickyNav }}
    <nav class="permanentTopNav sticky">
{{ else if eq .Site.Params.permanentTopNav true }}
    <nav class="permanentTopNav">
{{ else }}
    <nav>
{{ end }}
    <div class="container">
        <ul class="topnav">
            {{ range where (where .Site.Pages.ByWeight ".Type" "page") ".IsPage" true }}
                {{ if .Params.excludeFromTopNav }}
                    {{/* Do nothing */}}
                {{ else if and (isset .Params "link") (ne .Params.link "") }}
                    <li><a href="{{ .Params.link | relURL }}" target="{{ .Params.target }}">{{ .Title }}</a></li>
                {{ else }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }}
        </ul>

        {{ if and (isset .Site.Params "algolia_search") (eq .Site.Params.algolia_search true) }}
            <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", 
        showImages: false,
        });
    });
</script>
        {{ end }}
    </div>
</nav>
